<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parth Ardeshana - Web Developer</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="bootstrap/bootstrap.css"> -->
    <link rel="stylesheet" href="/static/css/portfolio.css">
</head>

<body>
    <!-- header page -->
 <header>
    <nav>
         <h2 class="web-dev" href="#"> WEB DEVELOPER</h2>
         <ul class="navbar">
             <li><a href="#">Home</a></li>
             <li><a href="#service">Service</a></li>
             <li><a href="#portfolio">Portfolio</a></li>
             <!-- <li><a href="#testimonial">Testimonial</a></li> -->
             <li><a href="#about">About</a></li>
             <li><a href="#contact">Contact</a></li>
         </ul>
         <a href="#contact" type="button" class="btn btn-danger my-btn"> HIRE ME</a>
    </nav>

       <div class="head-quote">
         <!-- <h2> THE BEST <span>DESIGN</span> <br>IS THE <span>SIMPLEST</span>  <br>ONE THAT <span>WORKS</span>  </h2> -->
         <h2> THE BEST DESIGN <br>IS THE SIMPLEST  <br>ONE THAT WORKS </h2>
         <p>- Albert Einstein</p>
       </div>
       <!-- <h2> Website is best place to Market your Bussiness </h2> -->
   
 </header>

<!-- service-page -->
<div id="service" class="service container-fluid">
      <h1>Services</h1>
      <div class="row">
         <div class="col-md-4 text-center">
            <div class="serv">
             <h2>Web Design</h2>
               <p class="para">Design Your Proffesinal Website with us. PSD to HTML, image to HTML, Sketch to HTML, etc.</p>
              <a href="#portfolio"><button class="btn btn-danger my-btn">See More</button> </a> 
            </div>
         </div>
         <div class="col-md-4 text-center">
            <div class="serv">
             <h2>Portfolio Website</h2>
               <p class="para">Proffesinal Portfolio help to land your First job as well as to impect on your Clients.</p>
              <a href="portfolio"><button class="btn btn-danger my-btn">See More</button> </a>
            </div>
         </div>
         <div class="col-md-4 text-center">
            <div class="serv">
               <h2>Logo Design</h2>
               <p class="para">Design a Proffesinal Logo For your Bussiness. conceptual logo, meaningful concepts, two concepts logo</p>
               <a href="contact"><button class="btn btn-danger my-btn">See More</button> </a>
            </div>
          </div>
   </div>
</div>

    <!-- portfolio-page -->
 <div id="portfolio" class="portfolio">
      <img src="/static/images/portfolio-1.png" alt="portfolio part A">
      <img src="/static/images/portfolio-2.png" alt="portfolio part B">
 </div>

    <!-- testimonial -->
   

    <!-- About-page  -->
   <div class="row about-main">
      <div id="about" class="col-md-6">
         <img src="/static/images/newww.png" alt="">
      </div>
      <div class="col-md-6">
       <div class="abt-me">
          <h2 class="H2">ABOUT</h2>
          <p class="intro-para">
           I'm Parth Ardeshana, a web Designer that loves to code,
           Web Designing is not only my carrer, It's my passion too.
           I'm from Rajkot,India, currently i am working at Banglore, India.   
         </p> 
       </div>
      </div>

        
   </div>

<!-- contact  -->
<div class="row container-fluid contact-page">
   <div class="col-md-7 cont-flx">
      <div class="row social">
         <h2>Contact Details</h2>
        <div class="col-md-4 contact-box email">
           <h3>Email</h3>
           <p>parthardeshana82@gmail.com</p>
         </div>
         <div class="col-md-4 contact-box contact">
            <h3>Contact</h3>
            <p>+91 78178 38490</p>
            <!-- <p>+91 79905 60962</p> -->
          </div>
          <div class="col-md-4 contact-box address">
            <h3>Location</h3>
            <p>Upleta, Rajkot,</p>
            <p>Gujarat - 360490</p>
            <p>India </p>
          </div>
      </div>

      <div class="social-image-line">
         <h2 class="text-center">Follow us</h2>
         <ul class="social-media">
            <li> <a href="#"> <img class="social-img" src="/static/icons/insta1.png" alt=""> </a></li>
            <li> <a href="#"> <img class="social-img" src="/static/icons/insta.png" alt=""> </a></li>
            <li> <a href="#"> <img class="social-img" src="/static/icons/linkedin.png" alt=""> </a></li>
            <li> <a href="#"> <img class="social-img" src="/static/icons/youtube.png" alt=""> </a></li>
<!--            <li> <a href="#"> <img class="social-img" src="/static/icons/insta1.png" alt=""> </a></li>-->
<!--            <li> <a href="#"> <img class="social-img" src="icons/insta1.png" alt=""> </a></li>-->
<!--            <li> <a href="#"> <img class="social-img" src="icons/insta1.png" alt=""> </a></li>-->
<!--            <li> <a href="#"> <img class="social-img" src="icons/insta1.png" alt=""> </a></li>-->
         </ul>
      </div>
   </div>
<!--   <div class="col-md-5"> -->
<!--      <div id="contact" class="contact">-->
<!--         <h2 class="text-center">Get In Touch </h2>-->
<!--            <form onsubmit="abc.py" action="abc.py">-->
<!--               <div class="form-tag">-->
<!--                  <input type="text" name="name" id="name" placeholder="Name">-->
<!--               </div>-->
<!--               <div class="form-tag">-->
<!--                 <input type="text" name="name" id="name" placeholder="Mobile Number">-->
<!--               </div>-->
<!--               <div class="form-tag">-->
<!--                 <input type="text" name="name" id="name" placeholder="Email">-->
<!--               </div>-->
<!--               <div class="form-tag">-->
<!--                 <textarea name="message" id="message" cols="20" rows="5" placeholder="Message"></textarea>-->
<!--               </div>-->
<!--               <div class="form-tag">-->
<!--                 <a onsubmit="po.py" type="button" class="btn btn-danger my-btn">Send</a>-->
<!--               </div>-->
<!--            </form>-->
<!--      </div>-->
<!--   </div>-->

      <div class="col-md-5" >
      <div id="contact" class="contact">
         <h2 class="text-center">Get In Touch </h2>
            <form method="post" action="" >
                {% csrf_token %}
                <div class="form-tag">
                {% for i in form %}
                    {{i}}
                {% endfor %}
                </div>

 <!--               <div class="form-tag">-->
<!--                  <input type="text" name="name" id="name" placeholder="Name">-->
<!--               </div>-->
<!--               <div class="form-tag">-->
<!--                 <input type="text" name="name" id="name" placeholder="Mobile Number">-->
<!--               </div>-->
<!--               <div class="form-tag">-->
<!--                 <input type="text" name="name" id="name" placeholder="Email">-->
<!--               </div>-->
<!--               <div class="form-tag">-->
<!--                 <textarea name="message" id="message" cols="20" rows="5" placeholder="Message"></textarea>-->
<!--               </div>-->
<!--               <div class="form-tag">-->
<!--                 <a onsubmit="po.py" type="button" class="btn btn-danger my-btn">Send</a>-->
<!--               </div>-->
                 <button class="btn btn-danger my-btn" type="submit">Sign in</button>

            </form>
      </div>
   </div>

    <p class="text-center">@2020 Design By Parth Ardeshana </p>
</div>  

</body>
</html>